html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  color: #222;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

h1, h2, h3 {
  color: #3f1622;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

nav ol li {
  list-style-type: none;
}

a {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

.harvest {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote p strong {
  font-weight: normal;
}

blockquote footer {
  font-size: .8rem;
}

h2 + ol {
  list-style-type: lower-greek;
}

dl dt {
  font-weight: bold;
}

aside h2 + ul {
  font-size: .8rem;
  list-style-type: circle;
}

footer small a {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-weight: 100;
}
